<footer>
    <div class="footer-container">
        <a href="https://www.apple.com/">
            <img src="assets/icons/apple.svg" alt="Apple logo">
        </a>
        <a href="https://www.linkedin.com/">
            <img src="assets/icons/linkedin.svg" alt="Linkedin logo">
        </a>
        <a href="https://www.nytimes.com/es/">
            <img src="assets/icons/newyorktimes.svg" alt="NewYorkTimes logo">
        </a>
        <a href="https://twitter.com/?lang=es">
            <img src="assets/icons/twitter.svg" alt="Twitter logo">
        </a>
        <a href="https://www.whatsapp.com/">
            <img src="assets/icons/whatsapp.svg" alt="Whatsapp logo">
        </a>
        <a href="https://www.microsoft.com/es-es/windows">
            <img src="assets/icons/windows.svg" alt="Windows logo">
        </a>
    </div>
</footer>
