<header>
    <div class="header-container">
        <div class="header-subcontainer__left">
            <img src="assets/images/LOGO.png" alt="Company logo">
            <a href="tel:+34910615212">+34 910 615212</a>
            <a href="mailto:info@boxfish.studio">info@boxfish.studio</a>
        </div>
        <div class="header-subcontainer__right">
            <a>Services</a>
            <a>About us</a>
            <a>Career</a>
            <a>Work</a>
        </div>
    </div>
    <div class="header-subcontainer__left header-subcontainer__left--mobile">
        <a href="tel:+34910615212">+34 910 615212</a>
        <img src="assets/images/ellipse.png" alt="Red marker">
        <a href="mailto:info@boxfish.studio">info@boxfish.studio</a>
    </div>
</header>