<header>
    <div class="header-container">
        <div class="header-container__left-box">
            <img id="headerLogo" src="assets/images/LOGO.png" alt="Company logo">
            <a href="tel:+34910615212">+34 910 615212</a>
            <a href="mailto:info@boxfish.studio">info@boxfish.studio</a>
        </div>
        <nav class="header-container__menu">
            <a>Services</a>
            <a>About us</a>
            <a>Career</a>
            <a>Work</a>
        </nav>
        <div class="header-container__mobile-menu">
            <button>
                <div class="header-container__mobile-menu-fake-icon">
                    <img src="assets/images/vector.png" alt="Blue line">
                    <img src="assets/images/vector.png" alt="Blue line">
                    <img src="assets/images/vector.png" alt="Blue line">
                </div>
                <span>Menu</span>
            </button>
        </div>
    </div>
    <div class="header-container__left-box header-container__left-box--mobile">
        <a href="tel:+34910615212">+34 910 615212</a>
        <img src="assets/images/ellipse.png" alt="Red marker">
        <a href="mailto:info@boxfish.studio">info@boxfish.studio</a>
    </div>
</header>