.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 310px);
    margin: 0 43px;

    &__title {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
        color: #333333;
        
        span {
            color: #FF5C5C;
        }
    }

    &__subtitle {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #999999;
    }
}

.home-subcontainer-left {
    margin-right: 75px;
}